.cmdlist .pri {
	background: #ffa;
}

.ulist {
	background: #444;
	border: 1px solid #000;
	border-collapse: collapse;
	font-size: 10px;
}

#main .ulist tr:hover td {
	background: #ff8;
}

.ulist td {
	border: 1px solid #000;
}

.ulist th {
	background: #bbb;
	border: 1px solid #000;
}

#main .ulist th > a {
	color: black;
}

.ulist .row0 td {
	background: #ddd;
}

.ulist .row1 td {
	background: #eee;
}

.ulist .latefee td {
	background: #caf;
}

.ulist .inactive td {
	background: #8ee;
}

.ulist .selected td {
	background: #8f8;
}


