#menu {
	display: table-cell;
	vertical-align: top;
	padding-bottom: 10px;
	background: url(../img/menubarbg.png) top right repeat-y #5f89c6;
	height: 100%;
	width: 150px;
	text-align: right;
	color: white;
}

#menu span {
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: url(../img/menutopshadow.png) top left repeat-x;
	height: 10px;
	width: 100%;
	display: block;
}

#menu li {
/*
 	border: 1px solid #786850;
	border-top: 0px;
*/
	border-right: 10px solid #4c74af;
	margin-bottom: 1px;
	padding-right: 5px;
	background: #547dbd;
	display: block;
}

#menu li:hover {
	border-right: 10px solid #93b4e6;
	background: #6f99d6;
}

#menu .selected {
	border-right: 10px solid #93b4e6;
	background: #6f99d6;
}

#menu a {
	color: white;
	text-decoration: none;
	display: block;
}

#menu a:hover {
	color: #ffff40;
}


